#Oren_Berkovich_208750281

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import files
import io

np.seterr(all='raise')

## Task 1
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['mobile_price_1.csv']))
df.head()

Saving mobile_price_1.csv to mobile_price_1.csv

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,...,gen,cores,speed,sim,f_camera,camera,memory,screen,wifi,price
0,0,842,0.6,188,20,756,2549,9,7,19,...,2,dual,medium,Single,1.0,2.0,7568,LCD,g,751.64
1,1,1021,0.7,136,905,1988,2631,17,3,7,...,4,triple,low,Dual,NaN,6.0,53759,Touch,none,885.17
2,2,563,0.9,145,1263,1716,2603,11,2,9,...,4,penta,low,Dual,2.0,6.0,41140,Touch,none,1067.78
3,3,615,0.8,131,1216,1786,2769,16,8,11,...,3,hexa,high,Single,NaN,9.0,10558,LCD,none,819.22
4,4,1821,0.6,141,1208,1212,1411,8,2,15,...,4,dual,medium,Single,13.0,14.0,44436,Touch,none,1023.13

1.2.
    Nominal: cores, gen, bluetooth, speed, wifi and sim
    <br> Ordinal: id, battery_power, m_dep, mobile_wt, px_height, ram, sc_h, sc_w, talk time, f_camera, camera, memory and price

In [2]:
## 1.3.
inch = 2.54
for i in df['sc_w']:
  if i == np.NaN:
      i = 0
for i in df['sc_h']:
  if i == np.NaN:
      i = 0 
df["resolution"] = np.hypot(df['px_width'], df['px_height']) // (np.hypot(df['sc_h'], df['sc_w'])/ inch)
df.head()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,...,cores,speed,sim,f_camera,camera,memory,screen,wifi,price,resolution
0,0,842,0.6,188,20,756,2549,9,7,19,...,dual,medium,Single,1.0,2.0,7568,LCD,g,751.64,168.0
1,1,1021,0.7,136,905,1988,2631,17,3,7,...,triple,low,Dual,NaN,6.0,53759,Touch,none,885.17,321.0
2,2,563,0.9,145,1263,1716,2603,11,2,9,...,penta,low,Dual,2.0,6.0,41140,Touch,none,1067.78,484.0
3,3,615,0.8,131,1216,1786,2769,16,8,11,...,hexa,high,Single,NaN,9.0,10558,LCD,none,819.22,306.0
4,4,1821,0.6,141,1208,1212,1411,8,2,15,...,dual,medium,Single,13.0,14.0,44436,Touch,none,1023.13,527.0

In [3]:
## 1.4. 
df["DPI_w"] = (df['px_width'] * inch)// df['sc_w']
print(df)

        id  battery_power  m_dep  mobile_wt  px_height  px_width   ram  sc_h  \
0        0            842    0.6        188         20       756  2549     9
1        1           1021    0.7        136        905      1988  2631    17
2        2            563    0.9        145       1263      1716  2603    11
3        3            615    0.8        131       1216      1786  2769    16
4        4           1821    0.6        141       1208      1212  1411     8
...    ...            ...    ...        ...        ...       ...   ...   ...
1995  1995            794    0.8        106       1222      1890   668    13
1996  1996           1965    0.2        187        915      1965  2032    11
1997  1997           1911    0.7        108        868      1632  3057     9
1998  1998           1512    0.1        145        336       670   869    18
1999  1999            510    0.9        168        483       754  3919    19

      sc_w  talk_time  ...   speed     sim f_camera camera memory  screen  \
0        7         19  ...  medium  Single      1.0    2.0   7568     LCD
1        3          7  ...     low    Dual      NaN    6.0  53759   Touch
2        2          9  ...     low    Dual      2.0    6.0  41140   Touch
3        8         11  ...    high  Single      NaN    9.0  10558     LCD
4        2         15  ...  medium  Single     13.0   14.0  44436   Touch
...    ...        ...  ...     ...     ...      ...    ...    ...     ...
1995     4         19  ...     low    Dual      NaN   14.0   2650   Touch
1996    10         16  ...    high    Dual      NaN    3.0  39573   Touch
1997     1          5  ...     low    Dual      1.0    3.0  36706   Touch
1998    10         19  ...     low  Single      4.0    5.0  46218   Touch
1999     4          2  ...  medium    Dual      5.0   16.0  45731   Touch

      wifi    price resolution   DPI_w
0        g   751.64      168.0   274.0
1     none   885.17      321.0  1683.0
2     none  1067.78      484.0  2179.0
3     none   819.22      306.0   567.0
4     none  1023.13      527.0  1539.0
...    ...      ...        ...     ...
1995  none   729.34      420.0  1200.0
1996     n  1157.94      370.0   499.0
1997  none  1351.51      518.0  4145.0
1998     g   846.52       92.0   170.0
1999     a  1118.35      117.0   478.0

[2000 rows x 23 columns]

In [4]:
from numpy.core.getlimits import inf
## 1.5.
df["call_ratio"] = df['battery_power']// df['talk_time']
df.head()
# check_nan = df['call_ratio'].isnull().values.any()
# print(check_nan)

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,...,sim,f_camera,camera,memory,screen,wifi,price,resolution,DPI_w,call_ratio
0,0,842,0.6,188,20,756,2549,9,7,19,...,Single,1.0,2.0,7568,LCD,g,751.64,168.0,274.0,44
1,1,1021,0.7,136,905,1988,2631,17,3,7,...,Dual,NaN,6.0,53759,Touch,none,885.17,321.0,1683.0,145
2,2,563,0.9,145,1263,1716,2603,11,2,9,...,Dual,2.0,6.0,41140,Touch,none,1067.78,484.0,2179.0,62
3,3,615,0.8,131,1216,1786,2769,16,8,11,...,Single,NaN,9.0,10558,LCD,none,819.22,306.0,567.0,55
4,4,1821,0.6,141,1208,1212,1411,8,2,15,...,Single,13.0,14.0,44436,Touch,none,1023.13,527.0,1539.0,121

In [5]:
## 1.6.
df['memory'] = df['memory']// 1000
df.head()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,...,sim,f_camera,camera,memory,screen,wifi,price,resolution,DPI_w,call_ratio
0,0,842,0.6,188,20,756,2549,9,7,19,...,Single,1.0,2.0,7,LCD,g,751.64,168.0,274.0,44
1,1,1021,0.7,136,905,1988,2631,17,3,7,...,Dual,NaN,6.0,53,Touch,none,885.17,321.0,1683.0,145
2,2,563,0.9,145,1263,1716,2603,11,2,9,...,Dual,2.0,6.0,41,Touch,none,1067.78,484.0,2179.0,62
3,3,615,0.8,131,1216,1786,2769,16,8,11,...,Single,NaN,9.0,10,LCD,none,819.22,306.0,567.0,55
4,4,1821,0.6,141,1208,1212,1411,8,2,15,...,Single,13.0,14.0,44,Touch,none,1023.13,527.0,1539.0,121

In [6]:
## 1.7.
df.describe()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,gen,f_camera,camera,memory,price,resolution,DPI_w,call_ratio
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1526.000000,1899.000000,2000.000000,2000.00000,2000.000000,2000.0,2000.000000
mean,999.500000,1238.518500,0.501750,140.249000,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,3.283000,5.648100,10.443918,32.048500,862.02435,307.599500,inf,166.240500
std,577.494589,439.418206,0.288416,35.399655,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.824773,4.140169,5.763826,18.143339,230.26348,183.463352,NaN,156.719291
min,0.000000,501.000000,0.100000,80.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,307.11000,56.000000,81.0,25.000000
25%,499.750000,851.750000,0.200000,109.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,3.000000,2.000000,6.000000,16.000000,698.46750,179.000000,339.0,75.000000
50%,999.500000,1226.000000,0.500000,141.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,4.000000,5.000000,10.000000,32.000000,837.63000,261.000000,598.5,111.000000
75%,1499.250000,1615.250000,0.800000,170.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,4.000000,8.000000,15.000000,48.000000,1006.71250,380.250000,1524.0,186.000000
max,1999.000000,1998.000000,1.000000,200.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,4.000000,19.000000,20.000000,64.000000,1728.97000,1253.000000,inf,989.000000

In [7]:
## 1.8.
df['speed'] = df['speed'].astype("category")
df['screen'] = df['screen'].astype("category")
df['cores'] = df['cores'].astype("category")

In [8]:
## 2.1. 
sum = df['f_camera'].isnull().sum() + df['camera'].isnull().sum()
print(sum)

575

In [9]:
## 2.2.
subAvg = df[(df["sim"] == 'Single') & (df['f_camera'].notnull() | df['camera'].notnull()) & (df['resolution']>12)]
avg = subAvg['battery_power'].sum() / subAvg['battery_power'].count()
print(avg)

1256.5091693635384

In [10]:
## 2.3.
subDf = df[(df['wifi'] == 'none') & (df['screen'] == 'Touch') & (df['mobile_wt'] > 145)]
subDf = subDf.sort_values(by=['price'], ascending=False)
print(subDf['id'].iloc[0], subDf['price'].iloc[0])

770 1533.85

In [13]:
## 2.4.
amount = pd.qcut(df.ram, q=4)
df.bluetooth = pd.Categorical(df.bluetooth, categories=['No', 'Yes'], ordered=False)
df['has_bluetooth'] = np.where(df.bluetooth == 'Yes' ,1 ,0 )
df.pivot_table('has_bluetooth', index = df.gen, columns = amount)
print(df)

        id  battery_power  m_dep  mobile_wt  px_height  px_width   ram  sc_h  \
0        0            842    0.6        188         20       756  2549     9
1        1           1021    0.7        136        905      1988  2631    17
2        2            563    0.9        145       1263      1716  2603    11
3        3            615    0.8        131       1216      1786  2769    16
4        4           1821    0.6        141       1208      1212  1411     8
...    ...            ...    ...        ...        ...       ...   ...   ...
1995  1995            794    0.8        106       1222      1890   668    13
1996  1996           1965    0.2        187        915      1965  2032    11
1997  1997           1911    0.7        108        868      1632  3057     9
1998  1998           1512    0.1        145        336       670   869    18
1999  1999            510    0.9        168        483       754  3919    19

      sc_w  talk_time  ... f_camera  camera memory screen  wifi    price  \
0        7         19  ...      1.0     2.0      7    LCD     g   751.64
1        3          7  ...      NaN     6.0     53  Touch  none   885.17
2        2          9  ...      2.0     6.0     41  Touch  none  1067.78
3        8         11  ...      NaN     9.0     10    LCD  none   819.22
4        2         15  ...     13.0    14.0     44  Touch  none  1023.13
...    ...        ...  ...      ...     ...    ...    ...   ...      ...
1995     4         19  ...      NaN    14.0      2  Touch  none   729.34
1996    10         16  ...      NaN     3.0     39  Touch     n  1157.94
1997     1          5  ...      1.0     3.0     36  Touch  none  1351.51
1998    10         19  ...      4.0     5.0     46  Touch     g   846.52
1999     4          2  ...      5.0    16.0     45  Touch     a  1118.35

      resolution   DPI_w call_ratio has_bluetooth
0          168.0   274.0         44             0
1          321.0  1683.0        145             1
2          484.0  2179.0         62             1
3          306.0   567.0         55             1
4          527.0  1539.0        121             1
...          ...     ...        ...           ...
1995       420.0  1200.0         41             1
1996       370.0   499.0        122             1
1997       518.0  4145.0        382             0
1998        92.0   170.0         79             0
1999       117.0   478.0        255             1

[2000 rows x 25 columns]

In [14]:
## 2.5.
ndf = df[['id','battery_power','ram','talk_time','bluetooth','cores','sim','memory','price']]
df.sample(frac = 0.5)
df.sample(weights=(df.speed == 'medium'))
ndf

,id,battery_power,ram,talk_time,bluetooth,cores,sim,memory,price
0,0,842,2549,19,No,dual,Single,7,751.64
1,1,1021,2631,7,Yes,triple,Dual,53,885.17
2,2,563,2603,9,Yes,penta,Dual,41,1067.78
3,3,615,2769,11,Yes,hexa,Single,10,819.22
4,4,1821,1411,15,Yes,dual,Single,44,1023.13
...,...,...,...,...,...,...,...,...,...
1995,1995,794,668,19,Yes,hexa,Dual,2,729.34
1996,1996,1965,2032,16,Yes,quad,Dual,39,1157.94
1997,1997,1911,3057,5,No,octa,Dual,36,1351.51
1998,1998,1512,869,19,No,penta,Single,46,846.52
1999,1999,510,3919,2,Yes,hexa,Dual,45,1118.35

In [15]:
## 2.6.
Max_total_talk = ndf.loc[ndf['talk_time'] == ndf.talk_time.max()].head(3)
Max_total_talk

,id,battery_power,ram,talk_time,bluetooth,cores,sim,memory,price
8,8,1445,1099,20,Yes,hepta,Single,53,590.74
22,22,1949,1433,20,No,quad,Dual,47,688.74
23,23,1602,1037,20,Yes,triple,Dual,38,750.91